* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, rgba(128, 0, 0, 1), rgba(180, 0, 0, 1), rgb(255, 0, 0));
    background-size: 100% 200%;
    animation: gradient-conteiner 3s infinite alternate;
}

/*EFECT GRADIENT*/
@keyframes gradient-conteiner {
    0% {
        background-position-y: 0%;
    }

    100% {
        background-position-y: 100%;
    }
}

body * {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}


/*TOP*/
body .top {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;


}

.top #text-initial {
    display: flex;

    width: 650px;
    height: 140px;
    border-radius: 1000px;
    align-items: center;
    justify-content: center;
    gap: 42px;
    align-items: center;
    justify-content: center;

    background: white;

    margin-top: 40px;

    -webkit-box-shadow: 8px 10px 14px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 8px 10px 14px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 8px 10px 14px 0px rgba(0, 0, 0, 0.7);

}

.top p {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.top #text-initial #star-left {
    width: 80px;
    height: 80px;

    /* justify-content: left; */

    transform: rotate(-21.43deg);
}

.top #text-initial #star-right {
    width: 80px;
    height: 80px;

    /* justify-content: right; */

    transform: rotate(21.43deg);
}

/* ROLAR A PÁGINA */
.scroll-page {
    /* border: 2px solid white; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 99.04px;
    /* text-align: center; */
    /* gap: 200px; */
}

.scroll-page #left-eyes {
    margin-right: 209.51px;

    transform: rotate(15.63deg);
}

.scroll-page p {
    margin-left: 35px;
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.scroll-page #direct-eyes {

    margin-left: 210px;

    transform: rotate(15.63deg);
}


/* CENTER */
.center-01 .img-01 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 165px auto 0;
}

.center-01 .img-01 #bouquet {
    width: 384px;
    transform: rotate(26.49deg);

    margin: auto;
}

.center-01 .img-01 #hearts {
    width: 300px;
    transform: rotate(-9.98deg);

    margin: auto;
}

/* .center-01 #three-points {
    color: white;
    font-size: 128px;
    text-align: center;
} */

.center-01 .img-02 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
}

.center-01 .img-02 #bouquet {
    width: 384px;
    transform: rotate(26.49deg);

    margin: auto;
}

.center-01 .img-02 #hearts {
    width: 300px;
    transform: rotate(-9.98deg);

    margin: auto;
}


/* TEXT CENTER */
#text-love-center p {
    font-size: 40px;
    font-weight: 500;
    color: white;
    text-align: center;

    margin: 250px auto 0;
}


/* CENTER 02 */
.center-02 .image-01 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 250px auto 0;
}

.center-02 .image-01 #bouquet {
    width: 384px;
    transform: rotate(-26.49deg);

    margin: auto;
}

.center-02 .image-01 #hearts {
    width: 300px;
    transform: rotate(26.49deg);

    margin: auto;
}

.center-02 #continued {
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 100px auto 0;
}

.center-02 .image-02 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
}

.center-02 .image-02 #bouquet {
    width: 384px;
    transform: rotate(-35deg);

    margin: auto;
}

.center-02 .image-02 #hearts {
    width: 300px;
    transform: rotate(35deg);

    margin: auto;
}

.almost #almost-there {
    font-size: 48px;
    font-weight: 500;
    color: white;

    text-align: center;
    margin: 700px auto 0;
}

#baloon {
    text-align: right;
    margin-top: 328px;
}

#left-eyes-02 {
    margin-top: 328px;

    transform: rotate(15.63deg);
}

#thin p {
    font-size: 100px;
    font-weight: 500;
    color: white;
    text-align: center;

    margin-top: 328px;
}

#right-eyes-02 {
    text-align: right;
    margin-top: 201px;

    transform: rotate(15.63deg);
}


.photo-01 {
    border: 1px solid white;
    /* display: block; */
    width: 854px;
    text-align: center;

    margin-top: 200px;
}

.photo-01 #our-photo {
    width: 500px;
    height: 500px;
}

.photo-01 #start {
    width: 500px;
    text-align: right;
    font-size: 40px;
    font-weight: 500;
    color: white;
    text-align: center;
}

/* @media (min-width: 700px){
    .top{
        align-items: center;
        justify-content: center;
        margin: auto;
    }
} */