* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;

    background: linear-gradient(to left, rgba(128, 0, 0, 1), rgba(180, 0, 0, 1), rgb(255, 0, 0));
    background-size: 500% 100%;
    animation: gradient-conteiner 3s infinite alternate;
}
/*EFECT GRADIENT*/
@keyframes gradient-conteiner {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}
body * {
    font-family: "Slabo 27px", serif;
}


/*TOP*/
#top{
    width: 100%;
    height: 891px;
    background: white;
    border-radius: 50%;
    margin-top: -50%;
    display: flex;
    align-items: end;
    justify-content: center;
}

h1{
    margin-top: 1000px;
    text-align: center;
    color: white;
}
